// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.custom-button{
    border-radius: 4px; 
    background-color: tomato; 
    color:white;
    text-transform: none;
    min-width: 100px;
    border: 1px solid transparent;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50px;
    height: 45px;
    margin: 0;
    font-weight: bold;
    color: #fff;
    line-height: 16px;
    padding: 0 16px;
    box-sizing: border-box;
}


 .quiz-footer {
    padding: 0.5rem 0;
    color:white;
    text-align: center;
    background-color: lightseagreen;
    border-top: .05rem solid #e5e5e5;
}
.quiz-footer p:last-child {
    margin-bottom: 0;
}

.aliceblue {
    background-color: aliceblue
}

.lightseagreen {
    background-color: lightseagreen
}

.tomato {
    background-color: tomato
}
